<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miguel.dao.BookMapper">

    <insert id="addBook" parameterType="Books">
        insert into Books (bookID,bookName,bookCounts,detail)
        values (#{bookID},#{bookName},#{bookCounts},#{detail});
    </insert>

    <delete id="deleteBookById" parameterType="int">
        delete from Books where bookID = #{bookID};
    </delete>

    <update id="updateBook" parameterType="Books">
        update Books set bookName=#{bookName},bookCounts=#{bookCounts},detail=#{detail}
        where bookID=#{bookID};
    </update>

    <select id="getBookById" resultType="Books">
        select * from Books where bookID=#{bookID};
    </select>

    <select id="getAllBook" resultType="Books">
        select * from Books;
    </select>

    <select id="queryBookByName" resultType="Books">
        select * from Books where bookName=#{bookName};
    </select>
</mapper>